<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AdminMapper">


    <select id="selectAll" resultType="com.example.entity.Admin">
        select * from admin
        <where>
            <if test="username != null"> and name like concat('%', #{username}, '%')</if>
        </where>
--         order by user_id desc
    </select>

<!--    <insert id="insert" parameterType="com.example.entity.Admin" useGeneratedKeys="true">-->
<!--        insert into admin(id, username, password, name, avatar, role)-->
<!--        values (#{id}, #{username}, #{password}, #{name}, #{avatar}, #{role})-->
<!--    </insert>-->

    <insert id="insert" parameterType="com.example.entity.Admin" useGeneratedKeys="true" keyProperty="userId">
        insert into admin(username, password, email,permission_status)
        values (#{username}, #{password}, #{email},#{permissionStatus})
    </insert>

<!--    <update id="updateById" parameterType="com.example.entity.Admin">-->
<!--        update admin set username = #{username}, password = #{password}, name = #{name}, avatar = #{avatar},role = #{role}-->
<!--        where id = #{id} -->
<!--    </update>-->

    <update id="updateById" parameterType="com.example.entity.Admin">
        update admin set
                         username = #{username},
                         password = #{password},
                         email = #{email},
                         permission_status = #{permissionStatus}
        where user_id = #{userId}
    </update>

</mapper>